@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  @apply absolute rounded-md top-7 left-5 bg-slate-300;
}
.pause-start-button {
  @apply bg-secondary mt-2 w-16 h-16 rounded-full active:scale-[0.96] outline outline-primary flex justify-center items-center;
}
.material-symbols-outlined {
  @apply text-8xl text-black;
}

@layer components {
  .bg-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as needed */
    z-index: 1;
  }
}
